<footer>

    <div class='contact-ban'>
        <p class="medium-text-ban">Suivez le Comité pour la sécurité de l'État sur les réseaux sociaux et sur les sites officiels</p>
        <a href="" class="facebook"></a>
        <a href="" class="twitter"></a>
        <a href="" class="instagram"></a>
    </div>

        <div class="micro-text">
            <div class ="micro-titre">
                <p>Ce site est géré par le Services du Gouvernement (KGB).</p>
                <p> Liens annexes:</p>
            </div>
            
            <nav class='mini-menu'>
                <ul>
                    <li> <a class ="menu-text" href="">Ecrire au Premier ministre Mikhaïl Michoustine <br></a></li>
                    <li><a class ="menu-text" href="">Contact presse <br></a></li>
                    <li><a class ="menu-text" href="">Marque de l’Etat <br> </a></li>
                    <li><a class ="menu-text" href="">Devenez partenaire de l’Etat <br></a></li>
                </ul>
            </nav>

        </div>


    </div>


    <!--footer front-office start-->
    <span class="ac-ag"></span>

    <div class="box-notion">
        <span class='footer_logos'></span>
        <p class='notion'>Пролетарии всех стран, соединяйтесь!</p>
    </div>
    <div class="mention-box">
        <p class="mention">Accessibilité: partiellement conforme | Mention légales | Données personnelles | Gestion des cookies</p>
        <p class="copyright">Copyright 2023 Candelier Mélissa. All Rights Reserved</p>
    </div>

</footer>
