{% extends 'base.html.twig' %}

{% block title %}ContactUs!{% endblock %}

{% block body %}
<body class="home-body">
        {% include "_partials/_header-visitor.html.twig" %}
              {% include "_partials/_navbar.html.twig" %}

    <div class="container-cont form">
    {% for message in app.flashes('sucess')%}
    
    <div class='alert alert-sucess mt-4'>
    {{message}}
    </div>
    {% endfor %}
        <h1>Formulaire de contact</h1>
    <div class="field-form">
      {{ form(form) }}
    </div>
    
    </div>
      {% include "_partials/_footer.html.twig" %}
</body>

{% endblock %}
