{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}
       <body class="container-accueil-op">
        <div class="container-central">
           <a class="btn btn-primary mt-3" href="{{ path('utilisateur_edit', {'id': app.user.id}) }}">Modifier mon compte</a>
        <a class="btn btn-info mt-3" href="{{ path('utilisateur_index') }}">Voir la liste des utilisateurs inscrit</a>
                <a class="btn btn-info mt-3" href="{{ path('Mission') }}">Sensitives sources</a>
        <h1>Ma page admin</h1>
        <h2>Cher {{ app.user.id }},</h2>

        <p>
               

Nous sommes ravis de vous accueillir sur votre compte administrateur au sein de notre système. En tant qu'opérateur clé, vous jouez un rôle essentiel dans la réalisation des objectifs de notre organisation et dans le soutien des missions gouvernementales russes.

Rappel de votre rôle en tant qu'agent au gouvernement russe :

Votre engagement en tant qu'opérateur revêt une importance particulière, car vous contribuez directement à la mise en œuvre des initiatives stratégiques du gouvernement russe. Vous êtes désigné pour gérer des tâches cruciales et sensibles qui exigent une expertise approfondie et une confidentialité absolue.

Nous sommes confiants que votre dévouement et votre expertise contribueront significativement au succès de nos missions. Nous encourageons également un esprit d'équipe et une collaboration étroite pour atteindre nos objectifs communs.

Si vous avez des questions ou avez besoin de clarifications sur votre rôle ou sur le fonctionnement du système, n'hésitez pas à contacter notre équipe de support dédiée.

Nous vous remercions de votre service dévoué en tant qu'agent au gouvernement russe et sommes impatients de travailler ensemble pour atteindre nos objectifs communs.

Bienvenue à bord !
        </p>
        </div>
        </body>

{% endblock %}