{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}
 
{% block body %}
<body class="home-body">
      <img src='../assets/img/kisspng-coat-of-arms-of-russia-russian-empire-portable-net-pixabay-5c05f7742abac4.585166981543894900175.9bc2cb45.png' alt="logo" class="home-logos">
<a class="btn btn-sm btn-danger" href="{{ path('app_login') }}">Connexion</a>
        <h1>Bienvenue sur le Site Gouvernemental de la Fédération de Russie</h1>
                  {% include "_partials/_navbar.html.twig" %}


        <section class='section1'>
        <div class="rectangle-text">
        <h3 ><strong>Actualités Gouvernementales</strong></h3>
        <p>Restez informé des dernières annonces officielles, déclarations gouvernementales, et événements importants touchant la Fédération de Russie.</p>
        </div>
        <div class="rec1 rectangle-picture0"></div>
        </section>

        <section class='section2'>
        <div class="aside3">
        <h3><strong>Transparence et Rapports</strong></h3>
        <p>Consultez nos rapports annuels, statistiques économiques, et informations sur la gouvernance pour une transparence totale sur l'action gouvernementale.</p>
        </div>
         <img src="../assets/img/transparence.jpg" alt="courbe" class=" rond rond-picture">
         <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
</svg>
        </section>

        <section class='section3'>
        <div class="container-rectangle"></div>
        <aside class="aside1">
        <h3><strong>Participation Citoyenne</strong></h3>
       <p>Exprimez votre opinion et participez aux consultations publiques. Votre voix compte dans la prise de décision gouvernementale.</p>
         </aside>
        </section>

        <section class='section4'>
         <div class='rec'></div>
        <span class="aside2">
       <h3><strong>À Propos du Gouvernement</strong></h3>
       <p>Découvrez la structure du gouvernement russe, les institutions clés, et la vision stratégique pour le développement du pays.</p>
       </span>
       </section>

       <section class='section5'>
       <h3><strong>Agenda Gouvernemental</strong></h3>
       <p>Explorez l'agenda des activités gouvernementales, des sessions parlementaires aux événements diplomatiques, pour suivre l'évolution de la politique russe.</p>
        <img src="../assets/img/Agenda-gouv.png" alt="Fourniture" class="rond rond-picture">
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
</svg>
       </section>
      
        <section class='section6'>
 <img src="../assets/img/assistance.png" class=" rond ronde-picture" alt="Statut">
  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
</svg>
 <h3><strong>Contact et Assistance</strong></h3>
 
       <p>Besoin d'aide ? Trouvez les coordonnées des services d'assistance dédiés pour répondre à vos questions et préoccupations.
Nous Sommes à Votre Service
Le gouvernement russe est déterminé à servir ses citoyens. Explorez notre site pour une expérience informative et engageante.</p>
        </section>

  
</body>
{% endblock %}