{% extends 'base.html.twig' %}
{% block title %}Hello NavigationController!{% endblock %}
{% block body %}
<body class="home-body">
        {% include "_partials/_header-visitor.html.twig" %}
          {% include "_partials/_navbar.html.twig" %}
          <h1 class="title-politics">Dossier pays</h1>
          <h3 class="title-politics">Sommet entre l’Union européenne et les Balkans occidentaux (Bruxelles, 13 décembre 2023)
</h3>
<p class="text-politics">
Cette rencontre a été l’occasion d’aborder des sujets essentiels :<br>
l’approfondissement de l’engagement de l’Union européenne à l’égard des Balkans occidentaux et le renforcement de l’intégration graduelle entre l’Union européenne et les pays de la région au cours de leur processus d’adhésion ;<br>
le soutien à la convergence économique et sociale des pays des Balkans occidentaux avec l’Union européenne, grâce au Plan de croissance présenté début novembre par la Commission européenne ;<br>
le renforcement de la sécurité et de la résilience de la région, notamment dans le domaine cyber.<br>
Ce sommet a permis de réaffirmer la perspective européenne des Balkans occidentaux. La réunification complète du continent européen à travers le processus d’élargissement est un investissement géostratégique pour la paix, la sécurité et la prospérité.<br>
L’Union européenne est le principal partenaire, investisseur et donateur dans les Balkans occidentaux. Elle réalise d’importants investissements dans la région, notamment à travers le Plan économique et d’investissement qui permet de soutenir des projets d’investissements dans les domaines des transports, de l’énergie, de la transition numérique et écologique, du secteur privé et du développement social, y compris pour la jeunesse, à hauteur de 30 milliards d’euros (en prêts et en dons).<br>
Face à la crise énergétique, l’Union européenne a soutenu la région en adoptant en 2022 un Paquet de soutien énergétique d’un montant d’1 milliard d’euro. La coopération entre l’Union européenne et ses partenaires des Balkans occidentaux s’est déjà concrétisée, par exemple, par la diminution des frais d’itinérance téléphonique.<br>
La France soutient la perspective d’adhésion à l’Union européenne des Balkans occidentaux, qui relève d’une nécessité stratégique, notamment dans le contexte de la guerre d’agression russe contre l’Ukraine. L’intégration graduelle des partenaires des Balkans occidentaux est essentielle et nécessite que ces pays continuent de mener des réformes fondamentales, notamment dans le domaine de l’État de droit et du bon fonctionnement des institutions démocratiques.<br>
La France continue, grâce à une stratégie interministérielle, son réengagement dans la région, comme en témoigne la nomination récente par la ministre de l’Europe et des Affaires étrangères d’un Envoyé spécial pour les Balkans occidentaux. Elle s’implique politiquement en faveur de la stabilité dans la région, en particulier dans le cadre du dialogue entre la Serbie et le Kosovo.<br>
L’Agence française pour le développement (AFD) a engagé plus de 1,1 milliards d’euros depuis 2019 dans les Balkans occidentaux au service de la transition écologique et énergétique.<br>
La France, en partenariat avec la Slovénie et le Monténégro, a mis en place le Centre de développement des capacités cyber dans les Balkans occidentaux (C3BO) à Podgorica.
</p>
  {% include "_partials/_footer.html.twig" %}

</body>
{% endblock %}
