@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  font-family: "cutive mono", sans-serif;
}

.op-ac {
  background: #4d6968;
}

.red-band {
  background: #660000;
  font-size: 1rem;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  top: 3em;
}
.logo-header {
  position: absolute;
  z-index: 2;
  background-image: url("../img/kisspng-coat-of-arms-of-russia-russian-empire-portable-net-pixabay-5c05f7742abac4.585166981543894900175.9bc2cb45.png");
  width: 10vw;
  height: 25vh;
  left: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.header-text {
  margin: 0 auto;
  width: 50vw;
}
.btn-outline-danger {
  border: #000000 solid 4px;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  width: 6vw;
  height: 5vh;
  right: 2em;
}
.title-section {
  padding-top: 3em;
  margin-bottom: 1em;
  text-align: center;
}
.mission-link-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-top: 4em;
}
.mission-link {
  font-size: 2rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

/*menu Planque*/

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(6, 2fr);
  }
}

.card-hideout {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-hideout {
    height: 350px;
  }
}
.card-hideout:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-hideout:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-hideout:nth-child(1):before {
  background-image: url("../img/restaurant.jpg");
  background-position: center;
  background-size: cover;
}
.card-hideout:nth-child(2):before {
  background-image: url("../img/stade.jpg");
  background-position: center;
  background-size: cover;
}
.card-hideout:nth-child(3):before {
  background-image: url("../img/canal.jpg");
  background-position: center;
  background-size: cover;
}
.card-hideout:nth-child(4):before {
  background-image: url("../img/cafe.jpg");
}
.card-hideout:nth-child(5):before {
  background-image: url("../img/castle.jpg");
  background-position: center;
  background-size: cover;
}
.card-hideout:nth-child(6):before {
  background-image: url("../img/usine.jpg");
}

.content-hideout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.title-hide {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btn {
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn::after {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .card-hideout:after {
    transform: translateY(0);
  }
  .content-hideout {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content-hideout > *:not(.title-hide) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card-hideout:hover,
  .card-hideout:focus-within {
    align-items: center;
  }
  .card-hideout:hover:before,
  .card-hideout:focus-within:before {
    transform: translateY(-4%);
  }
  .card-hideout:hover:after,
  .card-hideout:focus-within:after {
    transform: translateY(-50%);
  }
  .card-hideout:hover .content-hideout,
  .card-hideout:focus-within .content-hideout {
    transform: translateY(0);
  }
  .card-hideout:hover .content-hideout > *:not(.title-hide),
  .card-hideout:focus-within .content-hideout > *:not(.title-hide) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card-hideout:focus-within:before,
  .card-hideout:focus-within:after,
  .card-hideout:focus-within .content-hideout,
  .card-hideout:focus-within .content-hideout > *:not(.title-hide) {
    transition-duration: 0s;
  }
}

/*end menu planque*/
/*contact*/
.container-contact {
  max-width: 600px;
  background: #f1f1f1;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.container-contact::after {
  content: "";
  display: block;
  clear: both;
}
.container-contact h2 {
  margin-bottom: 10px;
}
.container-contact p {
  line-height: 1.4;
}
.picture-soldat {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 20px 5px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.op0 {
  background-image: url("../img/sombra.jpg");
}
.op_1 {
  background-image: url("../img/jpsoldat.jpg");
}
.op_2 {
  background-image: url("../img/merchant.jpg");
}
.op_3 {
  background-image: url("../img/chaska.jpg");
}
.op_4 {
  background-image: url("../img/malik.jpg");
}
.op_5 {
  background-image: url("../img/noir.png");
}

.one-contact {
  right: 2em;
}

/*agent flip card*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-menu {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 50%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  overflow: hidden;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
/*cibles*/
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
}

.container:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

/*page agent front office*/

.ac-ag {
  background-color: #e7d8c0;
  height: max-content;
}

.big_logos {
  margin-left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/kisspng-coat-of-arms-of-russia-russian-empire-portable-net-pixabay-5c05f7742abac4.585166981543894900175.9bc2cb45.png");
}
.text-header {
  position: absolute;
  bottom: 30em;
  left: 20em;
  font-size: 1rem;
  width: 50em;
  text-align: center;
  color: #fff;
  padding: 0.3em;
  z-index: 1;
}


.bat-russe {
  position: absolute;
  top: 18em;
  width: 100%;
  height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/lubyanka-5182110_640.jpg");
  z-index: 1;
}
.red-band0 {
  position: relative;
  z-index: 1;
  background-color:#6F2C4F;
  left: 15%;
  width: 70%;
  height: 40em;
}


.title-mission {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  color: #423e37;
  position: relative;
}

.page {
  color: #B1CCC5;
  margin-top: 30%;
  margin-bottom: 30%;
}

.tabs-controls {
  position: relative;
  background-color: #710e0d;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px 0px 10px;
  width: 100%;
  max-width: 62.5rem;
  border-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  list-style-type: none;
}
.tabs-controls__link {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255); /*Couleur des liens*/
  text-transform: uppercase;
  text-decoration: none;
}
.tabs-controls__link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: #423e37;
  border-radius: 2px;
  margin: auto;
  content: "";
  transition: width 0.4s;
}
.tabs-controls__link--active:after {
  width: 50%;
}
.cards-container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: calc(100vh - 205px);
  margin: 0 auto;
}
.card {
  top: 10px;
  position: absolute;
  width: 30em;
  height: 55em;
  background-color: #edebd7;
  border: 1px solid #423e37;
  box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 40px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.2s;
}
.card.hidden {
  z-index: 100;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}
.card.hidden h1 {
  color: #fff;
  transition: color 0.5s;
}
.card.hidden:nth-of-type(1) {
  transform: rotate(-25deg) translateX(101%) translateY(-5%) scale(0.6)
    skewX(9deg) skewY(8deg);
}
.card.hidden:nth-of-type(2) {
  transform: rotate(-30deg) translateX(101%) translateY(-7%) scale(0.5)
    skewX(9deg) skewY(12deg);
}
.card.hidden:nth-of-type(3) {
  transform: rotate(-95deg) translateX(101%) translateY(-44%) scale(0.5)
    skewX(3deg) skewY(9deg);
}
.card.hidden:nth-of-type(4) {
  transform: rotate(-52deg) translateX(101%) translateY(-9%) scale(0.7)
    skewX(6deg) skewY(11deg);
}
.card.hidden:nth-of-type(5) {
  transform: rotate(-57deg) translateX(101%) translateY(-16%) scale(0.1)
    skewX(6deg) skewY(6deg);
}
.card.hidden:nth-of-type(6) {
  transform: rotate(-76deg) translateX(101%) translateY(-54%) scale(0.5)
    skewX(9deg) skewY(1deg);
}
.card.hidden:nth-of-type(7) {
  transform: rotate(-79deg) translateX(101%) translateY(-54%) scale(0.5)
    skewX(9deg) skewY(1deg);
}
.card:nth-of-type(1) {
  z-index: 5;
  transform: translateX(0px) translateY(0px);
}
.card:nth-of-type(2) {
  z-index: 4;
  transform: translateX(10px) translateY(10px);
}
.card:nth-of-type(3) {
  z-index: 3;
  transform: translateX(20px) translateY(20px);
}
.card:nth-of-type(4) {
  z-index: 2;
  transform: translateX(30px) translateY(30px);
}
.card:nth-of-type(5) {
  z-index: 1;
  transform: translateX(40px) translateY(40px);
}
.card:nth-of-type(6) {
  z-index: 0;
  transform: translateX(50px) translateY(50px);
}
.card:nth-of-type(7) {
  z-index: 0;
  transform: translateX(50px) translateY(50px);
}


/*footer start*/
/*Contact*/
.contact-ban {
  border: #000 solid 3px;
  margin: 0 auto;
  width: 100%;
  height: 20vh;
}
.medium-text-ban {
  display: flex;
  width: 50vw;
  top: 2em;
  padding: 5px;
  justify-content: start;
  position: relative;
  left: 2em;
}
.facebook {
  object-fit: contain;
  position: absolute;
  z-index: 1;
  left: 50em;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/f_logo_RGB-Blue_72 - Copie.png");
}
.twitter {
  object-fit: contain;
  position: absolute;
  z-index: 1;
  left: 54em;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/Instagram_Glyph_Black.png");
}
.instagram {
  object-fit: contain;
  position: absolute;
  z-index: 1;
  left: 58em;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/logo-blackX.png");
}
.social-media {
  position: relative;
  margin: auto 0;
}

/*Logos*/

.footer_logos,
.big_logos {
  width: 10%;
  height: 30vh;
  position: relative;
  left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/kisspng-coat-of-arms-of-russia-russian-empire-portable-net-pixabay-5c05f7742abac4.585166981543894900175.9bc2cb45.png");
}
.box-notion {
  display: flex;
  width: 100vw;
  margin: 0 auto;
}
.notion {
  padding: 10px;
  width: 20vw;
  text-align: center;
}

.micro-text {
  position: absolute;
  margin-bottom: 1em;
  left: 40em;
  padding: 60px 0px 0px 80px;
}
.mini-menu,
.micro-titre {
  line-height: 2;
}

.menu-text {
  text-decoration: none;
  color: black;
}
.menu-text:after {
  color: black;
}
.menu-text:hover {
  text-decoration: none;
}
.menu-text:active {
  text-decoration: none;
}

.mention {
  position: relative;

}
.copyright {
  margin-top: 10px;
  align-self: center;
}
fieldset {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

legend {
  width: 50%;
}

