/* pages visiteur */
/* navbar */

.nav-item {
  height: 30%;
}

/* navbar-end */
.home-logos {
  width: 10%;
  background-size: cover;
  background-position: 50% 50%;
  object-fit: contain;
}
.home-body {
  background-color: #8f6d5b;
}
.btn-danger {
  position: relative;
  left: 80%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}
section {
  width: 100%;
}
.section1 {
  text-align: center;
}
.section2 {
  height: 50vh;
}
.section3 {
  height: 35vh;
}
.section4 {
  margin-top: 15%;
  width: 100%;
  height: 20vh;
}

.section5 {
  height: 50vh;
  width: 50%;
  margin-left: 25%;
}
.section6 {
  width: 50%;
  margin-left: 20%;
  height: 50vh;
}
aside {
  position: absolute;
  width: 50%;
  box-shadow: inset 5px 0 5px -5px #0c0c0c;
  font-style: italic;
}
.aside1 {
  width: 40%;
  padding-left: 0.5rem;
  margin-top: -9%;
  left: 55%;
}
.aside2 {
  width: 50%;
  box-shadow: inset 5px 0 5px -5px #0c0c0c;
  font-style: italic;
  position: absolute;
  left: 15%;
  margin-top: -10%;
  padding-left: 0.5rem;
}
.aside3 {
  width: 40%;
  box-shadow: inset 5px 0 5px -5px #0c0c0c;
  font-style: italic;
  position: absolute;
  left: 5%;
  padding-left: 0.5rem;
}
/*img*/

.container-rectangle {
  width: 40%;
  height: 25vh;
  margin-left: 3%;
  border-radius: 5%;
  background-image: url("../img/Citoyen.jpg");
  background-size: cover;
  background-position: 30% 40%;
  object-fit: contain;
}
.rec {
  margin-top: -10%;
  float: right;
  width: 30%;
  height: 25vh;
  background-image: url("../img/Apropos.jpg");
  background-size: cover;
  border-radius: 5%;
  background-position: 30% 40%;
  object-fit: contain;
}
.rectangle-picture0 {
  width: 100vw;
  height: 40vh;
  margin-bottom: 10%;
  background-image: url("../img/Actualité-gouv.jpg");
  background-size: cover;
  background-position: 40% 40%;
  object-fit: contain;
}
.rectangle-text {
  position: absolute;
  margin-top: 5%;
  margin-left: 13%;
}

.rond {
  border-radius: 60%;
  width: 30%;
  height: 30vh;
}
.rond-picture {
  float: right;
}

.ronde-picture {
  float: top;
}
/*icon*/
.bi-arrow-90deg-right {
  margin-top: 10%;
  float: left;
}
.bi-arrow-return-right {
  float: right;
}
.bi-arrow-right {
  margin-left: 50%;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.dropdown-item:hover,
.dropdown-item:active {
  border: #050505 dashed 2px;
  background-color: antiquewhite;
  color: #050505;
  border-radius: 30%;
  padding: 10px;
}

/* pages admin */
.card-img-top{
  border-radius: 20%;
}
.card-A,
.card-B,
.card-C,
.card-D {
  background-color: #050505;
  color: azure;
}

.card-A,
.card-D {
  left: 20%;
}
.card-B,
.card-C {
  position: relative;
}
.card-B {
  bottom: 48em;
  right: 20%;
  float: right;
}
.card-C {
  bottom:50em;
  left: 60%;
  float: left;
}
.card-text{
  text-align: center;
}
.card-title{
  text-align: center;
}
.min-picture{
  background-image: url('../img/MIN.jpg');
  background-size:cover;
  background-position: 30% 40%;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;

}
.text-politics, .title-politics{
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  width:50%;
}
.img-propos{
  float:left;
  width: 40%;
  margin-left: 8%;
  margin-right: 3%;
  height: 70vh;
  background-image: url('../img/bridge-8420945_640.jpg');
  background-size:cover;
  background-position: 30% 40%;
  background-repeat: no-repeat;
}
.text-propos{
  margin-left: 45%;
  width:40%;
  margin-top: 3em;
  margin-bottom: 3em;
}
