{% extends 'base.html.twig' %}
{% block title %}Error!{% endblock %}
{% block body %}
<body class="home-body">

    <h1>Une erreur est survenue</h1>
    <p>Une erreur est survenue lors du chargement de la page.</p>
    <p>Nous vous prions de nous excuser pour la gêne occasionnée.</p>
    <p>Vous pouvez essayer de recharger la page ou de revenir à la page précédente.</p>
    <p>Si l'erreur persiste, n'hésitez pas à nous contacter.</p>
    <p>Merci de votre compréhension.</p>
    
    <div class="row">
        <div class="col-12">
            <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
</body>
{% endblock %}
